fastapi
uvicorn
numpy
opencv-python-headless
onnxruntime
chromadb
langchain
langchain-core
langchain-community
langchain-chroma
langchain-ollama
fastembed
apscheduler
h5py
requests
python-dotenv
pillow