fastapi
uvicorn
numpy
opencv-python-headless
onnxruntime
chromadb
langchain
langchain-core
langchain-community
langchain-chroma
langchain-ollama
sentence-transformers
transformers
apscheduler
h5py
requests
python-dotenv
pillow